.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/pubspec.lock
*.iml
*.log
.idea/
.vscode/
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
ios/Flutter/flutter_export_environment.sh
ios/Pods/
.DS_Store
